
body {
    font-family: Helvetica, sans-serif;
    font-size: 16pt;
}
.middle {
    text-align: center;
}
.row {
    display: flex;
}
.column {
    flex: 0 0 25%;
}
.bold {
    font-weight: bold;
}
.larger {
    font-size: 32pt;
}
.leftMargin {
    margin-left: 105px;
}
.rightMargin {
    margin-right: 35px;
}
.introText {
    margin-right: 300px;
}
.darker {
    background-color: #817373;
}
.lighter {
    background-color: #EFE2E2;
}
.box {
    margin-right: 50px;
    margin-bottom: 50px;
}
.unevencolumn {
    flex: 0 0 70%;
}
.topMargin {
    margin-top: 100px;
}