
body {
    font-family: "GT America", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-size: 16pt;
    margin: 0px;
    background-color: #EFE2E2;
}
.middle {
    text-align: center;
}
.navbar{
    padding: 20px;
}
a {
    text-decoration: none;
    color: black;
}
.navbar a{
    padding-left: 20px;
}
.navbar-right{
    float: right;
    padding: 5px;
}
.row {
    display: flex;
}
.column {
    flex: 0 0 25%;
}
.bold {
    font-weight: bold;
}
.larger {
    font-size: 32pt;
}
.leftMargin {
    margin-left: 105px;
}
.rightMargin {
    margin-right: 35px;
}
.introText {
    margin-right: 300px;
}
.box {
    margin-right: 50px;
    margin-bottom: 50px;
}
.unevencolumn {
    flex: 0 0 65%;
}
.column5 {
    flex-basis: 60%;
}
