body {
    font-family: "GT America", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-size: 17px;
    margin: 0px;
    background-color: #ffecec;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    padding-bottom: 15px;
}
.middle {
    text-align: center;
}
.padded {
    padding: 10px;
}
main {
    flex: 1;
    margin: 15px;
}
.navbar{
    padding: 15px;
}
a {
    color: black;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 2px;
    transition: color 0.3s ease, text-underline-offset 0.3s ease;
}
.navbar a{
    padding-left: 20px;
    font-size: 15px;
}
.navbar-right{
    float: right;
    padding: 5px;
}
a:hover{
    color: rgb(87, 82, 86);
    text-decoration-color: color-mix(in srgb, var(--fg) 20%, transparent);
    text-underline-offset: 3px;
}
.box {
    margin-right: 50px;
    margin-bottom: 50px;
}
@media (min-width: 768px) {
  .responsive-container {
    flex-direction: row; /* Places elements side-by-side */
  }
  .item {
    flex: 1;             /* Makes all items take up equal width */
  }
  main {
    max-width: 800px;      /* Limits content width, forcing wide side margins */
  }
}
